/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: rgba(255, 0, 112, 1);
  --logo-color: rgba(219, 0, 255, 1);
  --text-color: rgba(241, 178, 206, 1);
  --header-color: rgba(0, 0, 40, 1);
  --corner-color: rgba(255, 0, 112, 1);
}

/* Остальные стили */ 

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
}
