/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: rgba(255, 141, 203, 1);
  --logo-color: rgba(255, 194, 230, 1);
  --text-color: rgba(53, 52, 48, 1);
  --header-color: rgba(53, 52, 48, 1);
  --corner-color: rgba(53, 52, 48, 1);
  --transparent-corner-color: rgba(53, 52, 48, 0.4);
  --visiability: visible;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
:root {
  --accent-color: rgba(255, 141, 203, 1);
  --logo-color: rgba(255, 194, 230, 1);
  --text-color: rgba(53, 52, 48, 1);
  --header-color: rgba(53, 52, 48, 1);
  --corner-color: rgba(53, 52, 48, 1);
  --transparent-corner-color: rgba(53, 52, 48, 0.4);
  --visiability: visible;
  }
}
/* Остальные стили */   

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-light.png);
  background-attachment: fixed;
  --accent-color: rgba(255, 141, 203, 1);
  --logo-color: rgba(255, 194, 230, 1);
  --text-color: rgba(53, 52, 48, 1);
  --header-color: rgba(53, 52, 48, 1);
  --corner-color: rgba(53, 52, 48, 1);
  --transparent-corner-color: rgba(53, 52, 48, 0.4);
  --visiability: hidden;
}

