/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-width: 375px;
  max-width: 1024px;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}

.header {
  display: grid;
}

/* Реализация углов */

.header::after {
  content: "";
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
  grid-area: corner-top;
}

.header::before {
  content: "";
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
  grid-area: corner-bot;
}

/* Конец реализации углов */

.lamp {
  visibility: var(--visiability);
  position: absolute;
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--accent-color);
  font-size: 18px;
}

.lamp::after {
  content: '●';
  text-shadow: 0px 0px 4px var(--accent-color);
}

.header__theme-menu {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--corner-color);
  grid-area: menu;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.header__theme-menu-item:not(:last-child) {
  padding-bottom: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding: 0.5px 12px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--transparent-corner-color);
  padding: 0.5px 12px;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
  padding: 0.5px 12px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--corner-color);
  padding: 0.5px 12px;
  pointer-events: none;
}

.title {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--logo-color);
  font-weight: 700;
  text-shadow: 4px 4px var(--accent-color);
  grid-area: no-focus;
}

.title-decor {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--header-color);
  grid-area: title;
}

.question {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--corner-color);
}

.title-decor-thin {
  font-weight: 400;
}

.main-text {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
}

.link {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  line-height: 10px;
  border-block-end: 2px solid var(--text-color);
  cursor: pointer;
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.pictures {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
}

@media (min-width: 375px) {
  .header {
    grid-template-columns: 10px 25.04px 1fr 44.96px 25.04px 10px;
    grid-template-rows: 10px 25px 40px 98px 65px 192px 55px 117px 31px 25px 10px;
    grid-template-areas:
    ". . . . . ."
    ". . . . corner-top ."
    ". . . . . ."
    ". . . menu menu ."
    ". . . . . ."
    ". no-focus no-focus no-focus no-focus ."
    ". . . . . ."
    ". title title title title ."
    ". . . . . ."
    ". corner-bot . . . ."
    ". . . . . .";
  }

  .lamp {
    top: 10px;
    right: 19px;
  }
  
  .title {
    line-height: 95.7px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .main {
    margin: 40px 10px;
  }

  .section:not(:last-child) {
    margin-block-end: 50px;
  }

  .question {
    margin-block-end: 20px;
  }

  h4.title-decor,
  h5.title-decor {
    margin-top: 20px;
    margin-bottom: 10px;
}

  .sunset {
    max-width: 355px;
    max-height: 142px;
  }
  .ice-cream {
    max-width: 355px;
    max-height: 355px;
  }
  .tape {
    max-width: 355px;
    max-height: 237px;
  }
  .books {
    max-width: 355px;
    max-height: 355px;
  }
  .street {
    max-width: 355px;
    max-height: 237px;
  }
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 20px 25px 339px 1fr 45px 25px 20px;
    grid-template-rows: 20px 25px 147px 98px 173px 99px 162px 117px 138px 25px 20px;
    grid-template-areas:
    ". . . . . . ."
    ". . . . . corner-top ."
    ". . . . . . ."
    ". . . . menu menu ."
    ". . . . . . ."
    "no-focus no-focus no-focus no-focus no-focus no-focus no-focus"
    ". . . . . . ."
    ". . . title title title ."
    ". . . . . . ."
    ". corner-bot . . . . ."
    ". . . . . . .";
  }

  .lamp {
    right: 29px;
    top: 20px;
  }

  .title {
    line-height: 99px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    margin: 60px 20px;
  }

  .section:not(:last-child) {
    margin-block-end: 80px;
  }

  .section.why {
    display: grid;
    height: 648px;
    grid-template-columns: max(256px) 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .section.why .question {
    grid-column: 1 / 2;
    grid-row: span 2;
  }

  h4.title-decor,
  h5.title-decor {
    margin-top: 0;
    margin-bottom: 10px;
}

  .sunset {
    max-width: 479px;
    max-height: 192px;
  }
  .ice-cream {
    max-width: 229px;
    max-height: 441px;
  }
  .tape {
    max-width: 229px;
    max-height: 568px;
  }
  .books {
    max-width: 230px;
    max-height: 230px;
  }
  .street {
    max-width: 479px;
    max-height: 318px;
  }
}

@media (min-width: 1024px) and (orientation: landscape){
  .header {
    grid-template-columns: 20px 25px 352px 116px 114px 352px 25px 20px;
    grid-template-rows: 20px 25px 1px 273px 130px 114px 71px 89px 25px 20px;
    grid-template-areas:
    ". . . . . . . ."
    ". . . menu menu . corner-top ."
    ". . . menu menu . . ."
    ". . . . . . . ."
    "no-focus no-focus no-focus no-focus no-focus no-focus no-focus no-focus"
    ". . . . . . . ."
    ". . . . title title title ."
    ". . . . . . . ."
    ". corner-bot . . . . . ."
    ". . . . . . . .";
  }

  .header__theme-menu-item {
    display: inline-block;
  }

  .header__theme-menu-item:not(:last-child) {
    padding-bottom: 0;
  }

  .header__theme-menu-button:hover {
    padding: 0.5px 12px;
  }

  .lamp {
    top: 20px;
    right: calc(50vmax - 483px);
  }

  .title {
    line-height: 129.53px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    margin: 60px 20px;
  }

  .sunset {
    max-width: 649px;
    max-height: 260px;
  }
  .ice-cream {
    max-width: 315px;
    max-height: 595px;
  }
  .tape {
    max-width: 315px;
    max-height: 768px;
  }
  .books {
    max-width: 315px;
    max-height: 315px;
  }
  .street {
    max-width: 649px;
    max-height: 428px;
  }
}

.sunset {
  /* grid-column: 1 / 3;
  grid-row: 1 / 2; */
}

.ice-cream {
  /* grid-column: 3 / 4;
  grid-row: 1 / 3; */
}

.tape {
  /* grid-column: 1 / 2;
  grid-row: 2 / 4; */

}

.books {
  /* grid-column: 2 / 3;
  grid-row: 2 / 3; */

}

.street {
  /* grid-column: 2 / 4;
  grid-row: 3 / 4; */

}

.image {
  margin-block-end: 6px;
}



.footer {
  min-width: 375px;
  min-height: 668px;
  text-align: center;
  line-height: 96px;
  /* align-items: center;
  display: flex;
  justify-content: center;
  align-items: center */
  display: grid;
  grid-template-columns: 10px 355px 10px;
  grid-template-rows: 10px 647px 10px;
  grid-template-areas: 
  ". . ."
  ". title ."
  ". . .";
}

h2.title {
  grid-area: title;
  align-self: center;
  line-height: 96px;
  margin-block-end: 17px;
}

/* Реализация углов */

.footer::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
  margin: 0 0 632px 340px;
}

.footer::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
  margin: 632px 340px 10px 10px;
}

/* Конец реализации углов */