/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-width: 375px;
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 10px 25.04px 1fr 44.96px 25.04px 10px;
  grid-template-rows: 10px 25px 40px 98px 65px 192px 55px 117px 31px 25px 10px;
  grid-template-areas:
  ". . . . . ."
  ". . . . corner-top ."
  ". . . . . ."
  ". . . menu menu ."
  ". . . . . ."
  ". no-focus no-focus no-focus no-focus ."
  ". . . . . ."
  ". title title title title ."
  ". . . . . ."
  ". corner-bot . . . ."
  ". . . . . .";
}

/* Реализация углов */

.header::after {
  content: "";
  /* position: absolute; */
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
  grid-area: corner-top;
}

.header::before {
  content: "";
  /* position: absolute; */
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
  grid-area: corner-bot;
}

/* Конец реализации углов */

.lamp {
  position: absolute;
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--accent-color);
  font-size: 18px;
  left: 304px;
  top: 10px;
}

.lamp::after {
  content: '●';
  text-shadow: 0px 0px 4px var(--accent-color);
}

.header__theme-menu {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--corner-color);
  grid-area: menu;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.header__theme-menu-item:not(:last-child) {
  padding-bottom: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--corner-color);
  padding: 0.5px 12px;
  pointer-events: none;
}

.title {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--logo-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-shadow: 4px 4px var(--accent-color);
  grid-area: no-focus;
}

.title-decor {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--header-color);
  grid-area: title;
}

.question {
  font-family: 'IBM Plex mono', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 23.4px;
color: var(--corner-color);
}

.title-decor-thin {
font-weight: 400;
}

.main-text {
  font-family: 'IBM Plex mono', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 23.4px;
color: var(--text-color);
}

.link {
  text-shadow: 2px 1px var(--accent-color);
}