/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-width: 375px;
  max-width: 1024px;
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}

/* Реализация углов */

.decorated-zone::before, .decorated-zone::after {
  content: "";
}

.decorated-zone::before {
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
  grid-area: corner-top;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
  grid-area: corner-bot;
}

/* Конец реализации углов */

.header {
  display: grid;
}

.lamp {
  visibility: var(--visiability);
  position: absolute;
  font-family: "IBM Plex mono", sans-serif;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  top: 10px;
  right: calc(50vmax - 483px);
}

.lamp::after {
  content: "●";
  font-size: 23px;
  text-shadow: 0px 0px 5px var(--accent-color);
  filter: drop-shadow(0px 0px 5px var(--accent-color));
}

.header__theme-menu {
  font-family: "IBM Plex mono", sans-serif;
  color: var(--corner-color);
  grid-area: menu;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--corner-color);
  padding: 0.5px 12px;
  pointer-events: none;
}

.header__theme-menu-item:not(:last-child) {
  padding-bottom: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding: 0.5px 12px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--transparent-corner-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corner-color);
  padding: 0.5px 12px 1.5px; 
}

.title {
  font-family: "IBM Plex mono", sans-serif;
  color: var(--logo-color);
  font-weight: 700;
  text-shadow: 4px 4px var(--accent-color);
  grid-area: no-focus;
}

.title-decor {
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--header-color);
}

.header .title-decor {
  grid-area: title;
}

.question {
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--corner-color);
}

.advice .title-decor {
  font-weight: 400;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.block {
  margin-block-end: 20px;
}

.block__title {
  margin-block-end: 10px;
}

.block__text {
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
}

/* На случай добавления второго абзадца в блок */
.block__text:not(:last-child) { 
  margin-block-end: 20px;
}

.link {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  line-height: 10px;
  border-block-end: 2px solid var(--text-color);
  cursor: pointer;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.pictures {
  display: grid;
}

.footer {
  display: grid;
  text-align: center;
  line-height: 96px;
  min-height: 668px;
  height: 100vh;
}

/* Конец основных стилей проекта */

/* Начало стилей для минимальной ширины экрана 375px */

@media (min-width: 375px) {
  .header {
    grid-template-columns: min(10px) 25.04px 1fr min(44.96px) 25.04px min(10px);
    grid-template-rows: min(10px) 25px min(40px) min(98px) min(65px) min(192px) min(55px) min(117px) min(31px) 25px min(10px);
    grid-template-areas:
      ". . . . . ."
      ". . . . corner-top ."
      ". . . . . ."
      ". . . menu menu ."
      ". . . . . ."
      ". no-focus no-focus no-focus no-focus ."
      ". . . . . ."
      ". title title title title ."
      ". . . . . ."
      ". corner-bot . . . ."
      ". . . . . .";
  }

  .lamp {
    top: 9px;
    right: 14px;
  }

  .title {
    line-height: 95.7px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .main {
    margin: 40px 10px;
  }

  .section {
    margin-block-end: 50px;
  }

  .question {
    margin-block-end: 20px;
  }

  .image {
    margin-block-end: 10px;
    object-fit: cover;
  }

  .sunset {
    max-width: 355px;
    max-height: 142px;
  }

  .ice-cream {
    max-width: 355px;
    max-height: 355px;
  }

  .tape {
    max-width: 355px;
    max-height: 237px;
  }

  .books {
    max-width: 355px;
    max-height: 355px;
  }

  .street {
    max-width: 355px;
    max-height: 237px;
  }

  .footer {
    min-width: 375px;
    min-height: 668px;
    grid-template-columns: min(10px) min(355px) min(10px);
    grid-template-rows: min(10px) min(647px) min(10px);
    grid-template-areas:
      ". . ."
      ". title ."
      ". . .";
  }

  .footer .title {
    grid-area: title;
    align-self: center;
    line-height: 96px;
    margin-block-end: 17px;
  }

  /* Реализация углов footer */

  .footer.decorated-zone::before, .footer.decorated-zone::after {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
  }

  .footer.decorated-zone::before {
    right: min(calc(50vw - 177.5px));
  }

  .footer.decorated-zone::after {
    left: min(calc(50vw - 177.5px));
    bottom: -6090px;
  }

  /* Конец реализации углов footer */

}

/* Конец стилей для минимальной ширины экрана 375px */

/* Начало стилей для минимальной ширины экрана 768px */

@media (min-width: 768px) {
  .header {
    grid-template-columns: 20px 25px min(339px) min(294px) min(45px) 25px 20px;
    grid-template-rows: 20px 25px min(147px) min(98px) min(173px) min(99px) min(162px) min(117px) min(138px) 25px 20px;
    grid-template-areas:
      ". . . . . . ."
      ". . . . . corner-top ."
      ". . . . . . ."
      ". . . . menu menu ."
      ". . . . . . ."
      "no-focus no-focus no-focus no-focus no-focus no-focus no-focus"
      ". . . . . . ."
      ". . . title title title ."
      ". . . . . . ."
      ". corner-bot . . . . ."
      ". . . . . . .";
  }

  .lamp {
    right: 24px;
    top: 18px;
  }

  .title {
    line-height: 99px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    margin: 60px 20px;
  }

  .section {
    display: grid;
    gap: 20px;
    margin-block-end: 80px;
  }

  .section.why {
    grid-template-columns: min(236px) 1fr;
    grid-template-rows: min(71px) 1fr;
    margin-block-end: 60px;
  }

  .section.why .question {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .section.why .blocks {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .section.what {
    grid-template-columns: min(236px) 1fr;
    grid-template-rows: min(70px) min(585px);
  }

  .section.what .question {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .section.what .blocks {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .section.how {
    grid-template-columns: min(236px) 1fr;
    grid-template-rows: min(97.92px) 1fr;
    margin-block-end: 40px;
  }

  .section.how .question {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .section.how .block {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .block.pictures {
    display: grid;
    grid-template-columns: min(229px) min(230px) min(229px);
    grid-template-rows: 1fr min(192px) min(230px) min(318px);
    gap: 20px;
    margin-block-start: 10px;
  }

  .pictures .block__title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-block-end: auto;
  }

  .sunset {
    max-width: 479px;
    max-height: 192px;
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
  }
  .ice-cream {
    max-width: 229px;
    min-height: 441px;
    grid-column: 3 / 4;
    grid-row: 2 / span 2;
    object-fit: cover;
  }
  .tape {
    max-width: 229px;
    min-height: 568px;
    grid-column: 1 / 2;
    grid-row: 3 / span 2;
    object-fit: cover;
  }
  .books {
    max-width: 230px;
    max-height: 230px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .street {
    max-width: 479px;
    max-height: 318px;
    grid-column: 2 / span 2;
    grid-row: 4 / 5;
  }

  .footer {
    min-width: 768px;
    min-height: 1024px;
    grid-template-columns: min(20px) 1fr min(20px);
    grid-template-rows: min(20px) 1fr min(20px);
  }

  .footer .title {
    line-height: 99px;
    margin-block-end: 0;
  }

  .footer.decorated-zone::before {
    right: min(calc(50vw - 364px));
    margin-top: 20px;
  }

  .footer.decorated-zone::after {
    left: min(calc(50vw - 364px));
    bottom: auto;
    margin-top: 979px;
  }
}

/* Конец стилей для минимальной ширины экрана 768px */

/* Начало стилей для минимальной ширины экрана 1024px */

@media (min-width: 1024px) and (orientation: landscape) {
  .header {
    grid-template-columns: min(20px) 25px min(352px) min(116px) min(114px) min(352px) 25px min(20px);
    grid-template-rows: min(20px) 25px min(1px) min(273px) min(130px) min(114px) min(71px) min(89px) 25px min(20px);
    grid-template-areas:
      ". . . . . . . ."
      ". . . menu menu . corner-top ."
      ". . . menu menu . . ."
      ". . . . . . . ."
      "no-focus no-focus no-focus no-focus no-focus no-focus no-focus no-focus"
      ". . . . . . . ."
      ". . . . title title title ."
      ". . . . . . . ."
      ". corner-bot . . . . . ."
      ". . . . . . . .";
  }

  .header__theme-menu {
    letter-spacing: 2px;
  }

  .header__theme-menu-item {
    display: inline-block;
  }

  .lamp {
    top: 18px;
    right: calc(50vmax - 488px);
  }

  .title {
    line-height: 129.53px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    margin: 60px 20px;
  }

  .section.why {
    grid-template-columns: max(314.96px) 1fr;
    grid-template-rows: 244px 244px;
    margin-block-end: 80px;
  }

  .section.what {
    grid-template-columns: min(315px) 1fr;
    grid-template-rows: min(47px) 1fr;
    margin-block-end: 60px;
  }

  .section.what .question {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .section.what .blocks {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    grid-template-columns: repeat(3, 315px) ;
    grid-auto-rows: 1fr;
  }

  .section.how {
    grid-template-columns: min(315px) 1fr;
    grid-template-rows: min(98px) 1fr;
  }

  .section.how .question {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .section.how .advices {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .block.pictures {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 1fr min(260px) min(315px) min(428px);
  }

.block.pictures .block__title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

  .sunset {
    max-width: 649px;
    max-height: 260px;
  }

  .ice-cream {
    max-width: 315px;
    min-height: 595px;
  }

  .tape {
    max-width: 315px;
    min-height: 768px;
  }

  .books {
    max-width: 315px;
    max-height: 315px;
  }
  
  .street {
    min-width: 649px;
    min-height: 428px;
  }

  .footer {
    min-width: 1024px;
    min-height: 768px;
  }

  .footer .title {
    line-height: 129.53px;
    margin-block-end: -10px;
  }

  .footer.decorated-zone::before {
    right: calc(50vw - 492px);
    margin-top: 25px;
  }

  .footer.decorated-zone::after {
    left: calc(50vw - 492px);
    margin-top: 728px;
  }
}

/* Конец стилей для минимальной ширины экрана 1024px */