/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-width: 375px;
  max-width: 1024px;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: clamp(10px, 20px, 20px) clamp(25.04px, 25px, 25px) 1fr 44.96px clamp(25.04px, 25px, 25px) clamp(10px, 20px, 20px);
  grid-template-rows: clamp(10px, 20px, 20px) 25px clamp(40px, 147px, ) 98px 65px 192px 55px 117px 31px 25px clamp(10px, 20px, 20px);
  grid-template-areas:
  ". . . . . ."
  ". . . . corner-top ."
  ". . . . . ."
  ". . . menu menu ."
  ". . . . . ."
  ". no-focus no-focus no-focus no-focus ."
  ". . . . . ."
  ". title title title title ."
  ". . . . . ."
  ". corner-bot . . . ."
  ". . . . . .";
}

/* Реализация углов */

.header::after {
  content: "";
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
  grid-area: corner-top;
}

.header::before {
  content: "";
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
  grid-area: corner-bot;
}

/* Конец реализации углов */

.lamp {
  visibility: var(--visiability);
  position: absolute;
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--accent-color);
  font-size: 18px;
  /* padding-right: 38px;
  padding-top: 10px; */
  left: 304px;
  top: 10px;
}

.lamp::after {
  content: '●';
  text-shadow: 0px 0px 4px var(--accent-color);
}

.header__theme-menu {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--corner-color);
  grid-area: menu;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.header__theme-menu-item:not(:last-child) {
  padding-bottom: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--transparent-corner-color);
  padding: 0.5px 12px;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--corner-color);
  padding: 0.5px 12px;
  pointer-events: none;
}

.title {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--logo-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-shadow: 4px 4px var(--accent-color);
  grid-area: no-focus;
}

.title-decor {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--header-color);
  grid-area: title;
}

.question {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--corner-color);
}

.title-decor-thin {
font-weight: 400;
}

.main-text {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
}

.link {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  /* text-decoration: underline solid var(--text-color); */
  line-height: 10px;
  border-block-end: 2px solid var(--text-color);
  /* text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none; */
  cursor: pointer;
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.main {
  margin: 40px 10px;
}

.section:not(:last-child) {
  margin-block-end: 50px;
}

.question {
  margin-bottom: 20px;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: minmax(10px, 20px);
  grid-template-areas: 
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street";
  grid-auto-flow: column;
}

.sunset {
  /* grid-column: span 2; */
  grid-area: sunset;
  width: clamp(355px, 479px, 649px);
  height: clamp(142px, 192px, 260px);
}

.ice-cream {
  /* grid-column: 1;
  grid-row: span 2; */
  grid-area: ice-cream;
  width: clamp(355px, 229px, 315px);
  height: clamp(355px, 441px, 595px);
}

.tape {
  /* grid-column: ; */
  grid-area: tape;
  width: clamp(355px, 229px, 315px);
  height: clamp(237px, 568px, 768px);
}

.books {
  /* grid-column: ; */
  grid-area: books;
  width: clamp(355px, 230px, 315px);
  height: clamp(355px, 230px, 315px);
}

.street {
  grid-area: street;
  width: clamp(355px, 479px, 649px);
  height: clamp(237px, 318px, 428px);
}

.image {
  margin-block-end: 6px;
}

h4.title-decor,
h5.title-decor {
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer {
  min-width: 375px;
  min-height: 668px;
  text-align: center;
  line-height: 96px;
  /* align-items: center;
  display: flex;
  justify-content: center;
  align-items: center */
  display: grid;
  grid-template-columns: 10px 355px 10px;
  grid-template-rows: 10px 647px 10px;
  grid-template-areas: 
  ". . ."
  ". title ."
  ". . .";
}

h2.title {
  grid-area: title;
  align-self: center;
  line-height: 96px;
  margin-block-end: 17px;
}

/* Реализация углов */

.footer::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
  margin: 0 0 632px 340px;
}

.footer::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
  margin: 632px 340px 10px 10px;
}

/* Конец реализации углов */