/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: rgba(255, 0, 112, 1);
  --logo-color: rgba(219, 0, 255, 1);
  --text-color: rgba(241, 178, 206, 1);
  --header-color: rgba(0, 0, 40, 1);
}